<h1>New Recipe</h1>
<%= form_tag recipe_path(:id) %>

<div>
    <%= label_tag "recipe_form[name]", "Name" %>
    <%= text_field_tag "recipe_form[name]" %><br>
</div>

<div>
    <%= label_tag "recipe_form[description]", "Description" %>
    <%= text_field_tag "recipe_form[description]" %><br>
</div>

<div>
    <%= Ingredient.all.each do |ingredient| %>
    <p><%= check_box_tag "recipe_form[ingredients][]", ingredient.id %>
    <%= label_tag "recipe_form[ingredients][]", ingredient.name %><br></p>
    <%end %>
</div>

    <%= submit_tag "Submit" %>
    <!-- it defaults to the restful route that it is in, it used reasoures -->

<%= button_to "Back", recipes_path, method: :get %>
