<h1>New Ingredient</h1>
<%= form_for @ingredient do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %><br>


    <!-- <%= f.hidden_field(:ranking, value: 0) %> -->

    <%= f.submit "Submit" %>
    <!-- it defaults to the restful route that it is in, it used reasoures -->
  <% end %>

<%= button_to "Back", ingredients_path, method: :get %>
